<script type="text/javascript">
    $(document).ready(function () {
        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount: 3,
            searchResultLimit: 32,
            renderChoiceLimit: 32
        });
    });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>


<div class="row mt-5 justify-content-md-center">
    <div class="card-body">
        <h1 class="text-center mb-3">
            <i class="fas fa-video"></i> Add New Movie
        </h1>
        <div class="card mt-2" style="width: 20rem;">
            <div class="card-body">
                <% include ./partials/messages.ejs %>
                <form action="/menu/addForm" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                                type="name"
                                id="name"
                                name="name"
                                class="form-control"
                                placeholder="Enter Name"
                                value="<%= typeof name != 'undefined' ? name : '' %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="language">Language:</label>
                        <select
                                name="language"
                                id="language"
                                class="form-control"
                                placeholder="Enter Language">
                            <option value=""></option>
                            <% languageList.forEach(function(item) { %>
                                <option value="<%= item %>"><%= item %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="genres">Genres:</label>
                        <select name="genres"
                                id="choices-multiple-remove-button"
                                placeholder="Select upto 3 geners"
                                multiple>
                            <option value=""></option>
                            <% genreList.forEach(function(item) { %>
                                <option value="<%= item %>"><%= item %></option>
                            <% }); %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                </form>
            </div>
        </div>
        <a href="/menu" class="btn btn-secondary mt-2"><i class="fas fa-undo-alt"></i> Back to menu</a>
    </div>
</div>
