<!DOCTYPE html>
<html>
  <head>
    <title>Movie Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Movie Page</h1>
    Title: <%= movie.name %> <br>
    Language : <%= movie.language %> <br>
    Premiered : <%= movie.premiered %> <br>
    <a href=<%= movie.image.original %>><img src=<%= movie.image.medium %>></a>

  </body>
</html>
