<!DOCTYPE html>
<html>
  <head>
    <title>Movie Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
  <body>
    <h1>Movie Page</h1>
    Title: <%= movie.name %> <br>
    Rating: <%= movie.rating.average %> <br>
    Language : <%= movie.language %> <br>
    Premiered : <%= movie.premiered %> <br>
    Genres : <%= movie.genres %> <br>
    <% if (movie.officialSite) { %>
    Official Site : <a href="<%= movie.officialSite %>" target="_blank"><%= movie.officialSite %></a> <br>
    <% } %>
    <br>
    <a href=<%= movie.image.original %> target="_blank"><img src=<%= movie.image.medium %>></a>
    <br>
    <%- movie.summary %>
    <br>
    <button onclick="goBack()">Go Back</button>
  </body>
</html>
