<script>
    function goBack() {
        window.history.back();
    }
</script>

<div class="row mt-5 justify-content-md-center">
    <div class="card-body">

        <h1 class="text-center mb-3">
            <i class="fas fa-search"></i> Search Results
        </h1>

        <h2 class="text mb-2">
            <i class="fas fa-keyboard"></i> Inputs: &nbsp;

        <% if (params[0]) { %>
                <i class="fas fa-film"></i> Title: <em><%= params[0] %></em> &nbsp;
        <% } %>
        <% if (params[1]) { %>
                <i class="fas fa-language"></i> Language: <em><%= params[1] %></em> &nbsp;
        <% } %>
        <% if (params[2]) { %>
                <i class="fas fa-theater-masks"></i> Genre: <em><%= params[2] %> </em> &nbsp;
        <% } %>
        </h2>

        <button onclick="goBack()" class="btn btn-secondary my-2"><i class="fas fa-undo-alt"></i> Go Back</button>

        <div class="row">
            <div class="column">
                <table class="table table-striped" style="float: left">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Meets the search requirements</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% let count = 0; searchResults.forEach(function(m) { %>
                        <tr>
                            <th scope="row"><%= count + 1 %></th>
                            <td><a href="/menu/search/<%= m.id %>"><%= m.name %></a></td>
                        </tr>
                        <% count++ %>
                    <% }) %>
                    <tbody>
                </table>
            </div>
            <div class="column">
                <table class="table table-striped" style="float: left">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Same Genre - <%= searchResults[0].genres %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% let countGenre = 0; searchGeneres.forEach(function(m) { %>
                        <tr>
                            <th scope="row"><%= countGenre + 1 %></th>
                            <td><a href="/menu/search/<%= m.id %>"><%= m.name %></a></td>
                        </tr>
                        <% countGenre++ %>
                    <% }) %>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>