<!DOCTYPE html>
<html>
<head>
    <title>Search Result Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/table2.css'/>
</head>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<body>
<h1>Result Page</h1>
<h2>Search parameters </h2>
<% if (params[0]) { %>
    <h3>Title: <%= params[0] %></h3>
<% } %>
<% if (params[1]) { %>
    <h3>Language: <%= params[1] %></h3>
<% } %>
<% if (params[2]) { %>
    <h3>Genre: <%= params[2] %></h3>
<% } %>

<button onclick="goBack()">Go Back</button>
<br> <br>

<div class="row">
    <div class="column">
        <table border="1" style="float: left">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Meets the search requirements</th>
            </tr>
            <% let count = 0; movie.forEach(function(m) { %>
                <tr>
                    <th scope="row"><%= count + 1 %></th>
                    <td><a href="/menu/search/<%= m.id %>"><%= m.name %></a></td>
                </tr>
                <% count++ %>
            <% }) %>
        </table>
    </div>
    <div class="column">
        <table border="1" style="float: left">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Same Genre - <%= movie[0].genres %></th>
            </tr>
            <% let countGenre = 0; genres.forEach(function(m) { %>
                <tr>
                    <th scope="row"><%= countGenre + 1 %></th>
                    <td><a href="/menu/search/<%= m.id %>"><%= m.name %></a></td>
                </tr>
                <% countGenre++ %>
            <% }) %>
        </table>
    </div>
</div>
</body>
</html>
