
    <h1>Search for movie</h1>
    <form action="/menu/search" method="post">
      Title: <input type="text" name="title"> <br> <br>
      <label for="language">Language:</label>
      <select name="language" id="language">
        <option value=""></option>
      <% languageList.forEach(function(item) { %>
          <option value="<%= item %>"><%= item %></option>
        <% }); %>
      </select>
      <br> <br>
      <label for="genres">Genres:</label>
      <select name="genres" id="genres">
        <option value=""></option>
      <% genreList.forEach(function(item) { %>
          <option value="<%= item %>"><%= item %></option>
        <% }); %>
      </select>
      <input type="submit" value="Search"> <br> <br>
    </form>
    <%= message %>
    <br> <br>
    <a href="/menu">Back to menu</a>
