<!DOCTYPE html>
<html>
  <head>
    <title>Search for movie</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Search for movie</h1>
    <form action="/" method="post">
      Title: <input type="text" name="title"> <br> <br>
      <label for="language">Language:</label>
      <select name="language" id="language">
        <option value=""> </option>
      <% languageList.forEach(function(item) { %>
          <option value="<%= item %>"><%= item %></option>
        <% }); %>
      </select>
      <br> <br>
      <label for="genres">Genres:</label>
      <select name="genres" id="genres">
        <option value=""> </option>
      <% genreList.forEach(function(item) { %>
          <option value="<%= item %>"><%= item %></option>
        <% }); %>
      </select>
      <input type="submit" value="Search"> <br> <br>
    </form>
    <%= message %>
    <br> <br>
    <a href="/">Back to menu</a>
  </body>
</html>
